/* mobile first */
:root{
    --grey--99: #3C3B34;
    --grey--70: #9B9A92;
    --grey--50: #C6C5BD;
    --grey--20: #EAEAE6;
    --Background--grey: #F6F6F4;
    --Accent--red: #FF6B6B;
    --standard--line-height: 1.5;
    --spacing--sections: 2.5em 0 2.5em 0;
    --spacing--bottom: 2.5em 0 0 0;
    --spacing--sides: 0 1em;
    --background--padding: 1.5em;
    
}

@font-face {
    font-family: 'Aktiv-Lt';
    src: url(../assets/fonts/AktivGrotesk_Lt.ttf);
}
@font-face {
    font-family: 'Aktiv-Rg';
    src: url(../assets/fonts/AktivGrotesk_Rg.ttf);
}
@font-face {
    font-family: 'Aktiv-Md';
    src: url(../assets/fonts/AktivGrotesk_Md.ttf);
}
@font-face {
    font-family: 'Aktiv-Bd';
    src: url(../assets/fonts/AktivGrotesk_Bd.ttf);
}

/* general styling*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Aktiv-Rg', sans-serif;
    line-height: var(--standard--line-height);
    position: relative;
}

h1{
    font-size: 1.5em;
    font-family: 'Playfair Display', serif;
    color: var(--grey--50);
}

h2{
    font-size: 1.2em;
}

h3{
    font-size: 1em;
}

h4{
    font-size: 0.9em;
}

p{
    font-size: 0.8em;
}

span{
    font-size: 0.8em;
}

a{
    color: var(--Accent--red);
    text-decoration: none;
    font-size: 0.8em;
}

li{
    list-style-type: none;
}

span li a{
    color: var(--grey--20);
}

section{
    margin: var(--spacing--sections);
}
/* end main styling */

/* begin styling mobile */
/* navigation */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--Accent--red);
    z-index: 20;
    position: fixed;
    width: 100%;
    height: 3em;
    overflow: hidden;
    border-bottom: solid var(--grey--99);
    position: relative;
    
}

nav img{
    width: 34px; 
    height: 20px;
    margin: auto;
}

nav a{
    color: var(--grey--20);
}

nav div{
    display: flex;
    max-width: 100%;
}
nav span {
    display: inline-block;
}

nav div:nth-child(1){
    overflow: hidden;
    white-space: nowrap;
    padding: 0 0 0 1em;
}

nav div:nth-child(1) span:nth-child(4){
    display: block; 
    text-overflow: ellipsis;
    overflow: hidden;
}

nav div:nth-child(2){
    gap: 0.5em;
    white-space: nowrap;
    margin: 0 0 0 1em;
    padding: 0 1em 0 0;
}

nav div:nth-child(2) span a[href="contact"]{
    background-color: var(--Background--grey);
    color: var(--grey--99);
    border: var(--grey--99) solid;
    padding: 0.4em 0.6em;
    font-weight: bold;   
}

/* main */
main, footer{
    padding: 1em;
    max-width: 30em;
    margin: 0 auto;
}

.main-line {
    position: absolute;
    top: 0;
    left: 10px;
    z-index: 10;
    height: 100%;
    border-left: 1px solid hsla(53,7%,76%,.5);
}

.Starting{
    background-color: white;
    z-index: 1;
    position: relative;
    margin: 0;
}

.Starting-Primary h1{
    margin-bottom: 1.2em;
}

.Starting-Secondary{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.2em;
}

#Schedule-button{
    background-color: var(--Accent--red);
    color: var(--grey--20);
    border-radius: 5px;
    padding: 1em 2.5em;
    text-align: center;
}

.Schedule{
    background-color: var(--grey--99);
    color: var(--grey--20);
    margin: 0 0 2.5em 0;
    display: flex;
    flex-direction: column;
    border: solid var(--Accent--red);
    opacity: 1;
    padding: var(--background--padding);
    transform: translateY(-1500px);
    transition: 2s cubic-bezier(0, 0.91, 1, 1);
    position: absolute;
    z-index: -1;
}

.show-schdule{
    transform: translateY(0px);
    position: relative;
    animation-name: planning;
    animation-duration: 0.5s;
    animation-delay: 1.3s;
}

@keyframes planning {
    0%{
        transform: scale(0.9);
        z-index: -1;
    }
    50%{
        transform: scale(1.05);
        z-index: 2;
    }
    100%{
        transform: scale(1);
        z-index: 2;
    }
}

.Schedule p{
    word-wrap: break-word;
    width: 15em;
    margin: auto
}

/* main section:nth-child(2){
    opacity: 0;
} */
.Schedule-Primary{
    text-align: center;
    display: contents;
}

.Schedule-Primary h2{
   font-family: 'Playfair Display', serif;
}

.Schedule-Secondary{
    text-align: center; 
}

form {
   
    margin: auto;
    scale: 0.7;
}

main section:nth-child(3){
    display: flex;
    flex-wrap: wrap;
    background-color: var(--grey--20);
    padding: var(--background--padding);
    gap: 1.2em;
    
}

main section:nth-child(4){
    display: flex;
    flex-wrap: wrap;
}

main section:nth-child(4) h2{
    font-family: 'Playfair Display', serif;
    color: var(--grey--50);

}

.active{
    color: var(--Accent--red);
}

main section:nth-child(4) ol li span{
    font-size: 1.2em;
    text-align: center;
    width: 100%;

}

main section:nth-child(4) h3{
    text-align: center;
}

main section:nth-child(4) h4{
    text-align: center;
}


main section:nth-child(4) ol li{
    margin: 1em 0;

}

main section:nth-child(4) ol::before{
    position: sticky;
    top: 30%;
    content: "";
    display: block;
    float: left;
    width: 1px;
    height: 100px;
    margin: -20px 0 20px;
    padding: 20px 0;
    box-sizing: content-box;
    transform: translate(-6px,40px);
    background-image: linear-gradient(180deg,hsla(0,0%,100%,0),#3c3b34 9.38%,#3c3b34 86.46%,hsla(0,0%,100%,0));
    transition: height .1s ease-out;

}

main section:nth-child(5){
    overflow: hidden;
}

main section:nth-child(5) article{
    display: flex;
}


main section:nth-child(5) h2{
    font-family: 'Playfair Display', serif;
    color: var(--grey--50);
    z-index: 1;
    grid-area: title;

}

main section:nth-child(5) h3{
    z-index: 1;
    color: var(--Background--grey);
}

main section:nth-child(5) a{
    z-index: 1;
}

main section:nth-child(5) span{
    font-size: 1.2em;
    z-index: 1;
    color: var(--Background--grey);
    text-shadow: 0.2px 0.2px 0 #FF6B6B;
    
}

main section:nth-child(5) div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: -1; 
}

main section:nth-child(5) div:first-child {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 1;
    background-image: url('../assets/images/DSF8566.jpg');
    background-size: cover;
    font-family: 'Aktiv-Bd', sans-serif;
    justify-content: space-evenly;
    height: 300px;
}

main section:nth-child(5) div:last-child::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: -1; 
}

main section:nth-child(5) div:last-child {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 1;
    background-image: url('../assets/images/DSF8997.jpg');
    background-size: cover;
    font-family: 'Aktiv-Bd', sans-serif;
    justify-content: space-evenly;
    height: 300px;
}

main section:nth-child(6){
    background-color: var(--grey--20);
    margin: 0;
}

main section:nth-child(6) h2{
    font-family: 'Playfair Display', serif;
    color: var(--grey--70);
}

main section:nth-child(6) div{
    padding: var(--background--padding);
}

main section:nth-child(6) div:last-child{
    background-color: var(--Accent--red);
    padding: var(--background--padding);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5em;
}

main section:nth-child(6) div:last-child h2{
    color: var(--grey--20);
}

main section:nth-child(6) div:last-child a{
    background-color: var(--grey--20);
    border: solid var(--grey--99);
    color: var(--grey--99);
    padding: 1em 2em;
    font-family: 'Aktiv-Bd';
}

/* end main */

footer{
    background-color: var(--grey--99);
    color: var(--grey--20);
    padding-top: 2.5em;
}

footer li span a{
    color: var(--grey--20);
}

.end-footer{
    margin: var(--spacing--bottom);
}


/* bigger formats */

/*

@media (min-width:30em) {
    form{
        scale: 0.6;
    }
}

@media (min-width:50em) {
    .Starting{
        display: flex;
        flex-direction: row;
    }

    .Starting-Primary{
        width: 50%;
    }
    .Starting-Secondary{
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Starting-Secondary img{
        width: 70%;
    }
    .Schedule{
        display: flex;
        flex-direction: row;

    }
    .Schedule-Primary{
        display: flex;
        flex-direction: column;
        width: 50%;
        align-items: center;
        justify-content: center;
    }
    
    .Schedule-Secondary{
        display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    }
    form{
        margin: 0;
        scale: 0.8;
    }

    h1{
        font-size: 2em;
        font-family: 'Playfair Display', serif;
        color: var(--grey--50);
    }
    
    h2{
        font-size: 1.5em;
    }
    
    h3{
        font-size: 1.2em;
    }

    h4{
        font-size: 1.1em;
    }
    
    p{
        font-size: 1em;
    }
    
    span{
        font-size: 1em;
    }
}

@media (min-width:76.875em) {
    h1{
        font-size: 2.2em;
        font-family: 'Playfair Display', serif;
        color: var(--grey--50);
    }
    
    h2{
        font-size: 1.7em;
    }
    
    h3{
        font-size: 1.4em;
    }
    
    p{
        font-size: 1.2em;
    }
    
    span{
        font-size: 1.2em;
    }
    form{
        scale: 1;
    };
}
*/